main img
{
    max-height: 400px;
    transition: 0.20s ease-out;
}

    main img:hover
    {
        transform: scale(0.9);
    }

#footer
{
    max-width: 700px;
    font-size: 0.70em;
    /*background: url('images/smalltau.jpg') no-repeat left top;*/
    margin: 20px 0 10px 0;
    padding-left: 50px;
}